<title>Team Profile</title>
<div class="container">
<h1>Team Profile</h1>
<!--<div class="row">-->
<!--  <div class = "col-md-4"> -->
<!--  <h3>Ken Chiu</h3> -->
<!--  <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture">-->
<!--  </div>-->
  
<!--    <div class = "col-md-4"> -->
<!--      <h3>Lee Ho</h3> -->
<!--    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>-->
<!--    <div class = "col-md-4">-->
<!--      <h3>Carino Boo</h3> -->
<!--    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>-->
<!--  </div>-->
  
<!--  <div class="row">-->
<!--  <div class = "col-md-4"> -->
<!--  <h3>User4</h3> -->
<!--  <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture">-->
<!--  </div>-->
  
<!--    <div class = "col-md-4"> -->
<!--      <h3>User5</h3> -->
<!--    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>-->
<!--    <div class = "col-md-4">-->
<!--      <h3>User6</h3> -->
<!--    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>-->
<!--  </div>-->
<!--</div>-->

<%
  enumeration = @team.users.count
  users = @team.users
  users_name_arr = @team.getMembersNamesArray
  users_time_arr = @team.getMembersTimeCommitment
  @team.users.count <= 3? row = 1 : row = 2
  for i in 1..row 
%>
  <div class = row>
    <% for j in 0..2 %>
    <% if enumeration > 0 %>
    <div class = "col-md-4">
      <h3><%= users_name_arr.pop() %></h3>
      <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture">
      <h5>Time commitment: <%= users_time_arr.pop() %>hrs/wk</h5>
    </div>
    <% enumeration-= 1 
      end %>
    <% end %>
  </div>
  <% end %>
  
  
</div>