<title>Team Profile</title>
<div class="container">
<h1>Team Profile</h1>
<div class="row">
  <div class = "col-md-4"> 
  <h3>Ken Chiu</h3> 
  <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture">
  </div>
  
    <div class = "col-md-4"> 
      <h3>Lee Ho</h3> 
    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>
    <div class = "col-md-4">
      <h3>Carino Boo</h3> 
    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>
  </div>
  
  <div class="row">
  <div class = "col-md-4"> 
  <h3>User4</h3> 
  <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture">
  </div>
  
    <div class = "col-md-4"> 
      <h3>User5</h3> 
    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>
    <div class = "col-md-4">
      <h3>User6</h3> 
    <img class="img-responsive" src="https://gravatar.com/avatar/ddc4bead487f5c1250fcc043e57787fe?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="ProfilePicture"></div>
  </div>
</div>