<style>
    
    .bottomspace {
    margin-top: 60px; /* define margin as you see fit */
    }
    
    .midspace {
    margin-top: 30px; /* define margin as you see fit */
    }  
    

</style>

<body>
  <title>Help For Admins</title>

    <div class="container">
          <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Admin Resources and Help</h1>
             
        </div>
        <h1>Basic Tutorial</h1>
        <p>We will assume the portal is blank and that this is your first time using the portal.</p>
        <h3>Step 1</h3>
         <p>Lets add some discussion sections! Go to the "Choose Discussions" button and click it. It will bring you to a listing of all the discussions. Currently it will be blank, but normally all discussion times and capacities will be listed here.
         Lets now create a new discussion.</p>
         
         <h3>Step 2</h3>
         <p>Click "Add Discussions" and then fill in the form. Please make sure your information is accurate. <strong>Please note the exact formatting for adding the discussion time.</strong> After that click "Add Discussion".</p> 
         
         <h3>Step 3</h3>
         <p>We now have a discussion. Repeat for as many discussions as CS 169 will have. Hit "Back" when you are done. Now give time for students to use the portal and submit teams</p>
         
         <h3>Step 4</h3>
         <p>You can toggel between the status of teams. 
         "Forming" shows teams that have not submitted, "All" shows all teams, "Pending" shows teams that are ready to be approved, and "Approved" shows teams that have been approved. 
         Click download approved teams to get a copy of SID's Names, Discussion numbers, and Team Numbers. Click Email Me to get an emailed list of pending teams.</p>
         
         <h3>Step 5</h3>
         <p> When you are ready to enroll students in Cal Central, dowload the teams in the csv file. After that all the students will be neatly organized in teams. </p>
         
        <div class = "bottomspace">
         <h1>FAQ</h1>
         
         <h3>I approved a team which should not have been approved.</h3>
         <p>All teams can have their status revoked. Just click "Change Status"</p>
         
         <h3>I want to add more admins</h3>
         <p>Perfect! Just click register new admin. Make sure to input their correct email since the authentication system will look for that email.</p>


        <div class="col-xs-2">
            <div class= "midspace">
        
            <%= link_to '<button class="btn btn-danger btn-lg">All Done!</button>'.html_safe, "/" %>
        
            <div class= "bottomspace">
       

        </div>
    </div>
</body>
