<body>
<title>Import Students From CSV</title>
<div class="container">
    <div class="row">
        <h2>Import Students From CSV</h2>
        <br>
        <h4>Make sure CSV is of the following format:</h4>
        <b>Name | Student ID | User ID | Role |Email Address | Sections	| Majors | Terms in Attendance | Units | Grading Basis | Waitlist Position<b>
        <hr/>
    </div>
    <div class="row">
        <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
            <br>
        <%= submit_tag "Upload Students", class: 'btn btn-default' %>
        <% end %>
    </div>
</div>
    <br>

</body>
