<h3>Import Students From CSV</h3>
    <br>
    <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Upload Students", class: 'btn btn-default' %>
    <% end %>
