<body>
  <title>Manage Skils</title>
    <div class="container">
      <h2><%= "Manage Skills" %></h2>
      <div class="row">
        <div class="col-md-8">
          <div class='page-header'>
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only" for="skill-input">Skill</label>
                <input type="skill" class="form-control" id="skill-input" placeholder="Skill">
              </div>
              <button type="submit" class="btn btn-primary">Add Skill</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>
