<body>
  <title>Manage Skils</title>
    <div class="container">
      <h2><%= "Manage Skills" %></h2>
      <div class="row">
        <div class="col-md-8">
          <div class='page-header'>
            <%= form_for :skill, url: "add_skill_path", method: :post, html: {class: "form-inline"} do |f| %>
              <div class="form-group">
                <label class="sr-only" for="skill-input">Skill</label>
                <input type="skill" class="form-control" id="skill-input" placeholder="Skill">
              </div>
              <button type="submit" class="btn btn-primary">Add Skill</button>
            <% end %>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-striped table-hover">
          <tr>
            <th>Skill Name</th>
            <th>Actions</th>
          </tr>
          <% @skills.each do |skill| %>
            <tr>
              <td>@skill.name</td>
              <td><button class="btn btn-info">Edit</button><button class="btn btn-danger">Delete</button></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    </div>
</body>
