<html>
<body>
  <title>Login</title>
    <div class="container">
        <div class = "text-center">
            <h1>CS 169 EnrollMe</h1>
            <br>
            <!-- oauth url: '/auth/google_oauth2'; use '/login_admin' for bypassing login -->
            <%= link_to "Log In", '/auth/google_oauth2', {class: "btn btn-default", id: "log_in"}  %>
            <br>
            <br>
            <%= link_to "Sign Up", new_user_path, {method: :get, class: "btn btn-default", id: "sign_up"} %>
            <br>
            <br>
            <br>
            <h4>Note: You must be on the CS169 waitlist in CalCentral in addition to signing up here on EnrollMe in order to get enrolled into the class. Your waitlist number in CalCentral does not matter - enrolling into the class will be done purely from EnrollMe.</h4>
        </div>
    </div>
</body>
</html>