<html>
<body>
  <title>Login</title>
    <div class="container">
        <div class = "text-center">
            <h1>CS 169 EnrollMe</h1>
            <br>
            <%= link_to "Log In", "/auth/google_oauth2", {id: "log_in", class: "btn btn-default"}  %>
            <br>
            <br>
            <%= link_to "Sign Up", new_user_path, {method: :get, class: "btn btn-default"} %>
        </div>
    </div>
</body>
</html>