<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <p>Hi <%= @user.name %>,</p>
        <p>
            Team has at least 5 members. <br>
            Remember to submit your team.
        </p>
        <p> Thanks and have a great day!</p>
    </body>
    
</html>