<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CS169 EnrollMe, <%= @user.name %></h1>
    <p>
      Your team has successfully submitted team enrollment for CS169. <br>
      
      An admin will review your application and email you back soon if your team was approved or disapproved.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>