<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    
    <body>
        <p>Hi <%= @user.name %></p>
        <p>
            Your email is: <%= @user.email %>. <br>
            Your password is: <%= @user.password %>. <br>
            
            please keep this information to log in to enrollme.com to sign up for your CS 169 group.
        </p>
        <p> Thanks and have a great day!</p>
    </body>
    
</html>