<div class="container">

	<h1>Users</h1>

	<table id="individuals" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>User</th>
				<th>In a Team?</th>
				<th>Team id</th>
				<th>Request</th>
			</tr>

		</thead>

		<tbody>
		  <% @users.each do |user| %>

		    <tr>
		    	<td>
			    	<%= link_to user.name, user_path(user.id) %>
		    	</td> 

		    	<td> <%= user.team_id.nil? ? "No" : "Yes" %> </td>

					<td> <%= user.team_id.nil? ? "" : user.team_id %> </td>

		    	<td>
		    	  <%= link_to "Send Request", new_user_request_path(user_id: session[:user_id], target_id: user.id, target_type: "user"), class: "btn btn-primary btn-sm request" %>
		    	</td>

		    	
		  	</tr>
		  <% end %>
	        
	  </tbody>

	</table>
	
	
</div>
