<style>
    
    .bottomspace {
    margin-top: 60px; /* define margin as you see fit */
    }
    
    .midspace {
    margin-top: 30px; /* define margin as you see fit */
    }  
    

</style>


<body>
  <title>Help For Students</title>
        
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Student Help</h1>
             
        </div>
        <h1>How to Sign Up</h1>
        
        <h3>Step 1</h3>
         <p>If you have a team password please paste it into the box labled "password", else you should choose the new team option.</p>
         
         <h3>Step 2</h3>
         <p>Once this is done you will notice the new password at the top of your portal. This should be given to any other members who would like to join your team. It is important to only give this password
         out to members of your team since it regulates who can join your team.</p> 
         
         <h3>Step 3</h3>
         <p>After the required number of people have joined your team (5-6 people), please check the discussions pane listed below. It will tell what discussions are still open. Note which discussions are your <strong> team's </strong>
         top choices. You will need this for the next step</p>
         
         <h3>Step 4</h3>
         <p>After step 4, press "Submit Team." This will bring you to the page where you choose your discussions. 
         Choose carefully since badly choosing a discussion here will require you to resubmit your team, loosing your discussion spot. Next click submit. </p>
         
         <h3>Step 5</h3>
         <p>After that you are done! You will get an email once your team is confirmed as well as an email later with course passwords for Cal Central! Thank you for using this portal :) </p>
         <div class = "bottomspace">
         <h1>Pitfalls and Mistakes</h1>
         
         <h3>Not Entering Your Information Correctly</h3>
         <p>Feel free to use "Update Information" to fix your information. Note that this will be verified later and any inconsitencies will result in you being dropped from the class</p>
         
         <h3>Putting CS/EECS declared when you are intending CS</h3>
         <p>Good luck with declaring CS! But until your Cal Central portal states "Computer Science" or "Electrical Engineering and Computer Science" <strong>do not list your major as declared</strong></p>
         
         <h3>Help! I submitted my team but my discussion time doesnt work anymore </h3>
         <p>please withdraw and resubmit your team with the correct discussion times. Note that you will loose your place </p>
         
         <h3>Something not listed here</h3>
         <p>Contact the CS Scheduling Office! They will be happy to help you. Also please note your bug so that we can fix it!</p>
        <div class="col-xs-2">
        <div class= "midspace">
        
        <%= link_to '<button class="btn btn-danger btn-lg">All Done!</button>'.html_safe, "/" %>
        
        <div class= "bottomspace">
       

    </div>
</body>
