<% if user.errors.any? %>
    <div class="error_messages alert alert-dismissible alert-danger">
        Form is invalid
    </div>
<% end %>

<div class="field form-group">
    <%= f.label :name, class: "col-lg-2 control-label" %> <br>
    <%= f.text_field :name, class: "form-control" %>
</div>
