<html>
<body>
  <title>Upload Discussion Sections</title>
  
    <div class="container">
      
      <h1>Discussion Sections</h1>
      
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
         <%= button_to "Add Discussions", '/admins/' + session[:user_id].to_s, {method: :get, class: "btn"} %>
        </div>
      </div>
            
      <table class="table table-striped table-hover">
        <tr>
          <td>CCN</td>
          <td>Discussion Times</td>
          <td>Seats Open</td>
          <td></td>
        </tr>
          
        <% @discussions.each do |d| %>
          <tr>
            <!--<td>%= d.checkbox :select %></td>-->
            <td><%= d.number %></td>
            <td><%= d.time %></td>
            <td><%= d.seats_open %></td>
          </tr>
        <% end %>
      </table>
    </div>
    
    
    
</body>
</html>