

  <h5><%= @error_message %></h5>
  <button type="button" class="btn btn-link" id="closeLink">Okay</button>



<style type="text/css">

  #dialog{
    position: absolute;
    margin: auto;
    background: white;
    top: 23%;
    left: 29%;
    width: 42%;
    border: 2px solid darkblue;
    padding: 19px;
    padding-top: 13px;
    text-align: center;
  }


</style>
