<h1>New Request</h1>
<%= form_tag(user_requests_path(user_id: params[:user_id], target_id: params[:target_id], target_type: params[:target_type]), method: "post") do %>
  <%= label_tag(:body, "Enter your message here:") %>
  <%= text_area_tag(:body, size: "24x6") %>
  <%= submit_tag("Submit Message") %>
<% end %>

