<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="col-xs-2">
      <a href="/edit" class="btn btn-primary">Edit My Info</a>
    </div>
    <div class="col-xs-2">
      <%= button_to "Logout", logout_path, class: "btn btn-default" %>
    </div>
    </div>
  </div>
</body>