  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: 0 0 0 5%;
  }
  
  .carousel-caption {
    position: absolute;
    left: auto;
    right: auto;
    width: 75%;
    height: 100%;
    background-color: #428bca;
    opacity: 0.8;
    bottom:0;
    right:0;
}