<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <div class="container">
    <br>
    <br>
    <br>
    <div class="col-xs-2">
      <%= button_to "Edit My Info", edit_user_path(session[:user_id]), {method: 'get', class: "btn btn-primary"} %>
    </div>
    <div class="col-xs-2">
      <%= button_to "Logout", logout_path, class: "btn btn-default" %>
    </div>
    </div>
  </div>
</body>

<%= yield %>